<div class="clear"><h1>Add a New Book <%= "by " + @author.name if @author %> to BookYear's Library!</h1></div>

<%= render partial: '/errors' %>

<%= render partial: 'book_form' %>

<!-- 
https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1504302832l/35901270._SY475_.jpg
 -->