<div class = "clear"><h1> Results </h1></div>
<h3> Don't see what you're looking for? Create a new book <%= link_to "here", new_book_path %> or a new author <%= link_to "here", new_author_path %></h3>

<% if @results %>
	<ol>
		<% @results.each do |result| %>
			<li><p><%= link_to "#{result.title}", book_path(result) %> by <%= result.author.name %></p></li>
		<% end %>
	</ol>
<% end %>

